@if (appFooterContainerCSSClass) {
<ng-container>
  <!--begin::Footer container-->
  <div class="app-container" [ngClass]="appFooterContainerCSSClass">
    <ng-container *ngTemplateOutlet="footerView"></ng-container>
  </div>
  <!--end::Footer container-->
</ng-container>

} @if (!appFooterContainerCSSClass) {

<ng-container *ngTemplateOutlet="footerView"></ng-container>

}

<ng-template #footerView>
  <!--begin::Copyright-->
  <div class="text-gray-900 order-2 order-md-1">
    <span class="text-muted fw-semibold me-1">{{ currentDateStr }}&copy;</span>
    <a
      href="https://keenthemes.com/"
      target="_blank"
      class="text-gray-800 text-hover-primary"
      >SysParks</a
    >
  </div>
  <!--end::Copyright-->

  <!--end::Menu-->
</ng-template>
