<!--begin::Menu wrapper-->
<div
  id="kt_app_sidebar_menu_scroll"
  class="scroll-y my-5 mx-3"
  data-kt-scroll="true"
  data-kt-scroll-activate="true"
  data-kt-scroll-height="auto"
  data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu"
  data-kt-scroll-offset="5px"
  data-kt-scroll-save-state="true"
>
  <!--begin::Menu-->
  <div
    class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
    id="#kt_app_sidebar_menu"
    data-kt-menu="true"
    data-kt-menu-expand="false"
  >
    <!-- Dashboard -->
    <div class="menu-item">
      <a
        class="menu-link without-sub"
        routerLink="/dashboard"
        routerLinkActive="active"
      >
        <span class="menu-icon">
          <app-keenicon name="home-2" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" translate="MENU.DASHBOARD">Dashboard</span>
      </a>
    </div>
    <!-- Separator -->
    <div class="menu-item">
      <div class="menu-content pt-8 pb-2">
        <span class="menu-section text-muted text-uppercase fs-8 ls-1"
          >Menus</span
        >
      </div>
    </div>



    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="parcel" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title"
              data-link="/crafted/account">Categorías
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/categories/list">
            <span
              class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span
              class="menu-title">Listado
            </span>
          </a>
        </div>
        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/categories/register">
            <span
              class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span
              class="menu-title">Crear
            </span>
          </a>
        </div>
      </div>
    </div>



    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/type-products" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="category" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Tipo Productos</span>
      </a>
    </div>


    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/products" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="cube-3" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Productos</span>
      </a>
    </div>


    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/brands" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="rescue" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Marcas</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/ecommerce-setting" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="social-media" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Configuración</span>
      </a>
    </div>

  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
